// ----- Colors -----

$primary: rgb(15, 23, 42);
$primaryLight: rgb(212, 221, 245);

//margin

$left: 3rem;
// radius
$radius: 1rem;

// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 0rem;
